@{
    ViewBag.Title = "Prospectus_MechEng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>List of Subjects for Mechanical Engineerging</h1>

<h2 class="text-center m-5 ">1st Year First Semester</h2>
<a class="btn btn-primary" href="@Url.Action("Schedule", "Home")">See Schedule</a>

<div class="wrapper m-5">
    <h2>1st Semester</h2>

    <div class="table__container">
        <table class="table">


            <thead>
                <tr>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Descriptive Title</th>
                    <th scope="col">Units</th>
                    <th scope="col">Pre-requisite</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">HIST</th>
                    <td>Reading in Philippines History</td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">MIST</th>
                    <td>Mathematics, Science & Technology </td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">SOCPHIL</th>
                    <td>Social Science & Philosophy</td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">PE1</th>
                    <td>Physical Education 1</td>
                    <td>2</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">NSTP1</th>
                    <td>National Service Training Prog. 1</td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">STS</th>
                    <td>Science, Technology & Society </td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">RIZAL</th>
                    <td>Rizal's Life & Works</td>
                    <td>2</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">FIL1</th>
                    <td>Retorika</td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">PURCOM</th>
                    <td>Purposive Communication</td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row">UTS</th>
                    <td>Understanding the Self</td>
                    <td>3</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>TOTAL</td>
                    <td>29</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>