@{
    ViewBag.Title = "FirstSemFirstYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container h-100">
    <div class="timetable-img text-center">
        <h1>Schedule for First Year, First Semester</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">
                        Time
                    </th>
                    <th class="text-uppercase">Monday</th>
                    <th class="text-uppercase">Tuesday</th>
                    <th class="text-uppercase">Wednesday</th>
                    <th class="text-uppercase">Thursday</th>
                    <th class="text-uppercase">Friday</th>
                    <th class="text-uppercase">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">09:00am</td>

                    <td class="cell">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button>
</td>
                    <td class="cell">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>

                <tr>
                    <td class="align-middle">10:00am</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>

                </tr>

                <tr>
                    <td class="align-middle">11:00am</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>

                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>

                <tr>
                    <td class="align-middle">01:00pm</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>

                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>
                <tr>
                    <td class="align-middle">02:00pm</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>

                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>
                <tr>
                    <td class="align-middle">03:00pm</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>
                <tr>
                    <td class="align-middle">04:00pm</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>
                <tr>
                    <td class="align-middle">05:00pm</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>
                <tr>
                    <td class="align-middle">06:00pm</td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
 <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                    <td class="cell"> <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#inputModal">
 <span class="material-symbols-outlined">
add
</span>
</button></td>
                </tr>
            </tbody>
        </table>
    </div>
 
    <!-- <div id="inputModal" class="modal backdrop">
        <div class="modal-content">
            <label for="eventInput">Event:</label>
            <input type="text" id="eventInput" />
             <div class="modal-footer">
                 <button class="close btn btn-secondary" onclick="hideBackdrop()">&times;</button>
                <button onclick="saveEvent()" class="btn btn-primary">Save</button>
             </div>
        </div>
    </div> -->

    <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <label for="eventInput">Event:</label>
                <input type="text" id="eventInput" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangesBtn" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>